div{
    display: block;
}

.block{
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 10px;
    margin-left : 5px;
    background-color: rgb(161, 223, 61);
    text-align: center;
    float: left;
    font-size: 60px;
    color: lightcoral;
    
}

#board{
    background-color: lightcoral;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 5px;
}

.row{
    width: auto;
    height: 100px;
    margin-top: 5px;
    
}

#row-0{
    margin-top: 5px;
}
